.PhpStorm*
PhpStorm*/
navicat*/
Team*/
blueproximity-*/
.idea/
LiClipse/
Fiddler/
firefox-nightly/
~*
*.jar
hs_err_pid*.log
pathfinder.config.php
fetcher.config.php
project-logs.sh
vendor/*
*/vendor/*
*.mp3
youtube-dl
/crons/manta-update.rc
FiddlerRoot.cer
dropbox.config.php
set_proxy.sh
