[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = input
[user]
	name = Jan Piskvor Martinec
	email = github@piskvor.org
[pull]
	ff = only
[alias]
	co = checkout
	cp = cherry-pick
	p = pull
	squash = merge --squash
	st = status
	df = diff
	b = branch
	r = reset
	rv = checkout --
	ours = checkout --ours --
	theirs = checkout --theirs --
	sl = stash list
	sa = stash apply
	ss = stash save
	alias = config --get-regexp 'alias.*'
	lol = log --pretty=format:"%h\\ %s\\ [%cn]"
	search = "grep -Iin"
	vup = !vagrant up
	vsu = !vagrant suspend
	vss = !vagrant ssh
	vde = !vagrant destroy
	vpr = !vagrant provision
	git = !exec git
	pushf = push --force-with-lease
[help]
	autocorrect = 30
[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
