/** KDE will push its styling into any HTML page. Nobody expects the Spanish Inquisition! */
textarea, input, select {
    background-color: white;
    color: black;
    -moz-appearance: none !important;
}
